@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

main {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 
#gptimg {
    margin-top: -80px;

}

h1 {
    margin-top: 200px ;
    margin-bottom: 30px;

}

.textfield {
    
    width: 320px;
    height: 74px;
    margin-bottom: 20px;
}

input {
    width: 310px;
    height: 54px;
    
    border-radius: 10px;
    border: 1px solid #0FA47F;
}

#contibtn {
    margin-top: 20px;
    width: 320px;
    height: 60px;
    color: white;
    background-color: #0FA47F;
    border: none;
    border-radius: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 20px;
}

#contibtn:hover {
 background-color: #00897B;
}

h6 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0FA47F;
}

.bottons {
    flex-direction: column;
    display: flex;
    margin: 20px;
}

#btngoogle {
background-color: white;
border: 0.5px solid black;
border-radius: 6px;
width: 400px;
height: 60px;
font-size: 20px;
margin-bottom: 20px;
align-content: center;
justify-items: center;
}

#btnmicrosoft {
    background-color: white;
    border: 0.5px solid black;
    border-radius: 6px;
    width: 400px;
    height: 60px;
    font-size: 20px;   
}

#google {

    margin-left: -80px;
    margin-right: 10px;
    width: 30px;
}

#microsoft {
    margin-left: 5px;
    margin-right: 20px;
    width: 25px;
}