@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');



*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

main {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 
#gptimg {
    margin-top: -200px;

}

h1 {
    margin-top: 90px ;
    margin-bottom: 36px;

}

.textfield {
    
    width: 320px;
    height: 74px;
    margin-bottom: 13px;
}

label{
    position: absolute;
    margin-left: 15px;
    margin-top: -15px;
    background-color: white;
    padding: 5px;
    color:  #0FA47F;
}

input {
    width: 310px;
    height: 54px;
    border-radius: 4px;
    border: 1px solid #0FA47F;
}

#contibtn {
    margin-top: 25px;
    width: 320px;
    height: 60px;
    color: white;
    background-color: #0FA47F;
    border: none;
    border-radius: 6px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 20px;
}

#contibtn:hover {
 background-color: #00897B;
}

h6 {
    margin-bottom: 20px;
    margin-top: 13px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0FA47F;
}

.bottons {
    flex-direction: column;
    display: flex;
    margin: 20px;
}

#btngoogle {
background-color: white;
border: 0.5px solid #C3C8CF;
border-radius: 6px;
width: 320px;
height: 60px;
font-size: 15px;
margin-bottom: 20px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
transition-duration: 0.4s;
}

#btnmicrosoft {
    border: 1px solid #C3C8CF;
    background-color: transparent;
    width: 320px;
    height: 52px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#google {

    margin-left: 17px;
    margin-right: 17px;
    width: 17px;
}

#microsoft {
    margin-left: 17px;
    margin-right: 17px;
    width: 20px;
}


#btngoogle:hover { background-color: #C5C5D1;}

#btnmicrosoft:hover { background-color: #C5C5D1;}